* {
    box-sizing: border-box;
  }

  html {
      font-size: 100%;
  }

  body {
      margin: 0;
      padding: 0;
  }
  
  .page-wrap {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .main-story {
    position: relative;
    margin: 0 0 25px 0;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  a {
    color: lightblue;
  }
  
  .story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
  }
  
  h1 {
    font-size: 4em;
  }

  h1,
  h2 {
    margin: 0 0 10px 0;
  }
  
  .story-intro h1 {
    font-size: 2.5em;
  }
  .story-intro p {
    margin: 0;
  }
  
  .sub-stories {
    margin: 0 0 25px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .sub-story {
    width: 250px;
    margin: 0 25px 0 0;
    position: relative;
    font-size: 80%;
    transition: .2s ease-out;
  }
  
   
  @media (min-width: 768px) {
    .sub-story:last-child {
        margin-right: 0;
    }
  }

  @media (max-width: 991px) {
    .page-wrap {
        max-width: 720px;
    }

    .page-wrap h1 {
        font-size: 3em;
    }

    h1, 
    h2 {
        margin: 0 0 5px 0;
    }

    .main-story h1 {
        font-size: 1.2em;
    }

    .main-story p {
        font-size: .8em;
    }

    .sub-story {
        width: 223px;
    }
  }

  @media (max-width: 767px) {
    .page-wrap {
        max-width: 540px;
    }

    .sub-story {
        width: 47.5%;
        margin-bottom: 20px;
    }

    .sub-story:nth-child(2) {
        margin-right: 0;
    }
  }

  @media (max-width: 576px) {
    .page-wrap {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .page-wrap h1 {
        font-size: 2em;
    }

    .page-wrap p {
        font-size: .9em;
    }

    .main-story h1 {
        font-size: 1.2em;
    }
    
    .sub-story {
        width: 100%;
        margin-right: 0;
        position: relative;
    }

    .sub-stories .story-intro {
        position: relative;
        padding-left: 80px;
    }

    .sub-story img {
        position: absolute;
        width: 55px;
        height: 72px;
        z-index: 5;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
    }

    .story-intro {
        position: relative;
    }

  }